@{
    ViewBag.Title = "getTicket";
    Layout = "~/Views/Shared/_MasterPage.cshtml";

}
<h2>getTicket</h2>

@ViewData["Tickets"]


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="~/Scripts/"></script>
<script>
        $(document).ready(function () {

            var sessionEmp = @Html.Raw(ViewData["employee"]);

            var ticketnames = @Html.Raw(ViewData["TicketNames"]);

            var ticket = @Html.Raw(ViewData["Tickets"]);

            var depts = @Html.Raw(ViewData["Depts"]);

            var groups = @Html.Raw(ViewData["Groups"]);

            var emps = @Html.Raw(ViewData["Employees"]);

            if (ticket["Ticket_ID"] == -1 || sessionEmp.Emp_ID == ticket.Emp_ID) {

                $('#Title').append(ticket.Title);

                $('#creatorlink').attr('href', '/Role/getEmployee/' + ticket.Emp_ID);

                $.each(depts, function (index, element){
                    $('#selectDept').append(
                        '<option value="' + element.Dept_ID + '">' + element.Dept_Name + '</option>'
                    );
                });

                $('#selectGroup').append(
                    '<option value="' + ticket.Group_ID + '">' + ticketnames.Group_Name + '</option>'
                );

                $('#selectEmp').append(
                    '<option value="' + ticket.Assigned_To + '">' + ticketnames.Assigned_To_Name + '</option>'
                );

                $('#selectEmp').remove();
                $('#assignedlink').attr('href', '/Role/getEmployee/' + ticket.Assigned_To);
            }



            if (sessionEmp.Emp_Role == "Manager" && sessionEmp.Dept_ID == ticket.Dept_ID) {

                $('#selectEmp').remove();
                $.each(groups, function (index, element) {
                    $('#selectGroup').append(
                        '<option value="' + element.Group_ID + '">' + element.Group_Name + '</option>'
                    );
                });
            }















    });
</script>

<body>


    <form method="post" id="ticketform">

        <h1 id="header"></h1>

        <lable>Title</lable>
        <input class="un" type="text" align="center" name="title" id="Title" />

        <lable>Created By</lable>
        <a id="creatorlink">View Profile</a>



        <lable>Dept</lable>
        <select id="selectDept">
        </select>

        <lable>Group</lable>
        <select id="selectGroup">
        </select>


        <lable>Assigned To</lable>
        <select id="selectEmp">
        </select>
        <a id="assignedlink">View Profile</a>


        <input class="submit" type="submit" value="Update">

    </form>


</body>




